<center><h2>Please select your opponent.</h2>
</head>
<br>

<form action='players' method='post'>
	<select name= 'opponent'>
		<option value='Human'>Human</option>
		<option value='Sequential'>Sequential</option>
		<option value='Random'>Random</option>
		<option value='Unbeatable'>Unbeatable</option>
	</select>

<p><input type='submit' value='submit'>

</form>
</center>

<br></br><br></br><br></br><br></br><br></br><br>
<center><footer><br><br>
<div class="bg_color"><p id="center"> Posted by: Kevin Glass</p>
<p id="center">Contact information: <a href="http://minedminds.org">Mined Minds</a></p>


<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>

<body onload="startTime()">

<div id="txt"></div>

</body>



</div>




</footer></body></center>
