<html>

<h1>Welcome to Tic Tac Toe</h1>
<h2>Please select player 1 and player 2</h2>
<p>Player 1 will be X, and player 2 will be O,</p>
    <form action='/select_players' method='post'>
    <table>
        <tr>
            <td>
                <select name='player1'>
                    <option value='Human'>Human</option>
                    <option value='Easy'>Easy</option>
                    <option value='Medium'>Medium</option>
                    <option value='Good Luck, LOL!'>Impossible!</option>
                </select>
            </td>

            <td>
                <select name='player2'>
                    <option value='Human'>Human</option>
                    <option value='Easy'>Easy</option>
                    <option value='Medium'>Medium</option>
                    <option value='Good Luck, LOL!'>Impossible!</option>
                    <input type="submit" value="Submit">
                </select>
            </td>
        </tr>
    </table>
    </form>





<body background="mined_minds.jpg">







</html>

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
<center><footer><br><br>
<div class="bg_color"><p id="center"> Posted by: Kevin Glass</p>
<p id="center">Contact information: <a href="http://minedminds.org">Mined Minds</a></p>


<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>

<body onload="startTime()">

<div id="txt"></div>

</body>



</div>




</footer></body></center>
