<html>

<h1>Welcome to Tic Tac Toe</h1>
<h2>Please select player 1 and player 2</h2>
<p>Player 1 will be X, and player 2 will be O,</p>
	<form action='/select_players' method='post'>
	<table>
		<tr>
			<td>
				<select name='player1'>
				    <option value='Human'>Human</option>
				    <option value='Easy'>Easy</option>
				    <option value='Medium'>Medium</option>
				    <option value='Good Luck, LOL!'>Impossible!</option>
				</select>
		    </td>

		    <td>
			    <select name='player2'>
				    <option value='Human'>Human</option>
				    <option value='Easy'>Easy</option>
				    <option value='Medium'>Medium</option>
				    <option value='Good Luck, LOL!'>Impossible!</option>
				    <input type="submit" value="Submit">
				</select>
		    </td>
		</tr>
	</table>
	</form>

</html>